{{ define "main" }}
<div class="px-6 pt-6">
    {{ if .Site.Params.Avatar }}
    <img class="hidden md:block w-20 rounded-full mr-6" src="{{ .Site.Params.Avatar | absURL }}" alt="{{ .Site.Params.Author }}">
    {{ end }}

    <div>
        <h1 class="text-4xl font-mono font-black"><a class="border-b-0" href="{{ .Site.BaseURL | relLangURL }}"><span class="font-normal font-sans pr-6">&larr;</span>{{ .Site.Title }}</a></h1>
        <p>{{ .Site.Params.tagline }}</p>
    </div>
</div>
<div class="px-6">
    <header class="mb-3">
        <!-- If the blog has translation, they shoul be displayed here. -->
        {{ if .IsTranslated }}
        <nav>
            {{ range $i, $lang := .Translations }}
            {{ if $i }}/{{ end }}
            <a href="{{ .Permalink }}">{{ $lang.Language.LanguageName }}</a>
            {{ end}}
        </nav>
        {{ end }}
    </header>
</div>
<div class="w-full p-6 flex flex-row">
    <!-- <nav class="w-1/4 mr-6 pr-6">
        {{ range site.RegularPages.GroupByDate "2006" -}}
            {{/* partial "posts-sidebar.html" . */}}
        {{ end }}
    </nav> -->
    <div class="w-3/4 mx-auto">
        <div>

            <!-- The content block. -->
            {{ block "content" . }}{{ end }}

            <footer class="mt-16">
                <p>
                    &copy; {{ now.Format "2006"}}. {{ .Site.Params.copyright }}
                </p>
            </footer>
        </div>
    </div>
</div>
{{ end }}

{{ define "heading" }}
<div>
    {{ partial "back-home.html" . }}

    <!-- Title and Publication Date -->
    <h1 class="text-6xl font-bold">{{ .Title }}</h1>
    <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "02 Jan 2006" }}</time>

    <!-- Tags -->
    {{ with .Params.tags }}
    <ol class="mt-4">
        {{ range . }}
        <li class="inline-block">
            <a class="border-none text-gray-800 text-xs bg-gray-400 hover:bg-gray-600 hover:text-white rounded-sm px-3 py-1" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
    </ol>
    {{ end }}
</div>
{{ end }}

{{ define "content" }}
<h1 class="text-4xl font-black mb-16">{{ .Title }}</h1>
<article class="mb-12">
    {{ .Content }}

    {{ partial "comments/comments.html" . }}
</article>
{{ end }}
